/*-- scss:rules --*/

.quarto-title-block {
  background-color: #062b62;
  background-image: url(images/kpl-logo.svg);
  background-size: auto 47px;
  background-position: 8px 8px;
  background-repeat: no-repeat;
  padding-top: 63px;

  & > * {
    background-color: white;
    margin: 0
  }

  .quarto-title {
    padding-top: 16px;
  }
}

