/*-- scss:rules --*/

.quarto-title-block {
  background-color: #100c08;
  background-image: url(images/decision-mechanics-logo.svg);
  background-size: auto 47px;
  background-position: center 8px;
  background-repeat: no-repeat;
  padding-top: 63px;
  
  & > * {
    background-color: white;
    margin: 0
  }

  .quarto-title {
    padding-top: 16px;
  }
}

